.cf-form {
  padding-top: 0px;
}

#cf-formtitle {
  margin-bottom: 0px;
}

.FormTitleReplacement {
  display: none;
}

.cf-section-header {
  padding: 5px 5px 5px 10px;
  background-color: #203864;
  border-bottom-color: #cccccc;
  border-radius: 5px;
}

.form-q.cf-section-header h2 {
  color: white;
  font-size: 13px;
}

/*Displays two fields per line*/
.TwoPerLine {
  display: inline-block;
  width: 50%;
}

.TwoPerLine .cf-medium {
  width: 97%;
}

.TwoPerLine .cf-small {
  width: 97%;
}