header {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}

.form-title {
  display: none;
}
.section-title {
  padding: 5px 5px 5px 10px;
  background-color: goldenrod;
  border-bottom-color: #cccccc;
  border-radius: 5px;
}

label.section-label {
  color: white;
  font-size: 13px;
}
